numpy
scipy
sklearn
matplotlib
scikit-learn
trimesh==2.38.42
networkx>=2.2,<2.3
-e git+git@github.com:dshayden/du.git#egg=du
-e git+git@github.com:dshayden/lie.git#egg=lie
numdifftools
tensorflow>=1.13
pyglet
